<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Aula Oberta</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>

  <script type="text/javascript" src="node_modules/auth0-js/build/auth0.js"></script>

</head>

<body>
  <div class="container">

    <h1>Identifica't</h1>
    <hr>
    <form method="POST" action="login">

        <div class="form-group row">
          <label class="col-2 col-form-label">Usuari</label>
          <div class="col-8">
            <input class="form-control" type="text"
                   placeholder="Entra l'usuari" name="username"
                   minlength="3"
                   required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Contrasenya</label>
            <div class="col-8">
              <input class="form-control" type="password"
                     placeholder="Entra la contrasenya" name="password"
                     minlength="3"
                     required>
              </div>
          </div>
          <div class="form-group row">
              <label class="col-2 col-form-label">&nbsp;</label>
              <div class="input-group col-md-8">
                <button type="submit" class="btn btn-outline-primary">
                  Entrar
                </button>
              </div>
            </div>
    </form>
    <div class="row">
        <a href="/help.html">API Disponible</a>
    </div>
  </div>

</body>

</html>