<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Aula Oberta</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
    crossorigin="anonymous"></script>

  <script type="text/javascript" src="node_modules/auth0-js/build/auth0.js"></script>

</head>

<body>
  <div class="container">
        <div class="alert alert-primary" role="alert">
            Obtenir <a href="/help">AJUDA</a> sobre els mètodes possibles
        </div>
      <h4>Login</h4>
      <hr>
      <ul class="list-group">
      <li class="list-group-item"><a href="/login">Entrar al sistema</a></li>
      <li class="list-group-item"><a href="/logout">Sortir del sistema</a></li>
      </ul>
      <br>
      <h4>Llista de les Aules</h3>
      <hr>
      <ul class="list-group">
      <li class="list-group-item"><a href="/aula/list">/aula/list</a></li>
      </ul>
      <br>
      <h4>Estat de les Aules</h3>
      <hr>
      <ul class="list-group">
      {{ range $key, $value := . }}
      <li class="list-group-item"> {{ $value.Name }}: <a href="/aula/{{ $key }}/status">/aula/{{ $key }}/status</a></li>
      {{ end }}
    </ul>
  </div>
</body>
</html>